.flask-message{
  z-index: 99999999;
}

a{
  text-decoration: none !important;
}
.bracket{
  display: grid !important;
  grid-auto-flow: column;
  gap: 1%;
  grid-auto-columns: max-content;
  margin-left: 50px;
}
.round{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  width: min-content;
}

.winner{
  border-left: 7px solid rgb(57, 230, 123)
}

.loser{
  border-left: 7px solid rgb(224, 108, 108)
}