<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <style res="stylesheet">
    .event-details-container {
      font-family: Lato, Arial, Helvetica, sans-serif;
    }
  </style>
  <title>Tourney Site</title>
</head>

<body>
  <div id="app" v-cloak>
    <v-app>
      <v-content>
        <router-view></router-view>
        <flash-message />
      </v-content>
      <v-footer
        absolute
        class="font-weight-medium"
      >
        <v-col
          class="text-center"
          cols="12"
        >
          Copyright <span>&#169;</span> <strong>Deeper Systems</strong>
        </v-col>
      </v-footer>
    </v-app>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <script src="/static/js/home.vue.js"></script>
  <script src="/static/js/players.vue.js"></script>
  <script src="/static/js/tournaments.vue.js"></script>
  <script src="/static/js/components/login.vue.js"></script>

  <script src="/static/js/components/flash-message.vue.js"></script>

  <script>
    Vue.use(VueRouter);
    window.Bus = new Vue();
    const routes = [
      {path: '/', component: home},
      {path: '/tournaments', component: tournaments},
      {path: '/players', component: players},
    ];

    const router = new VueRouter({
      mode: "history",
      routes
    });

    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify({
        icons: {
          iconfont: 'mdi',
        },
      }),
      data() {
        return {
          authenticated: false,
        };
      },
      mounted() {
        this.check_auth()
      },
      methods: {
        check_auth(){
          return axios.post("/").then(result => {
            this.authenticated = result.data.auth;
            if(!this.authenticated){
              return false
            }
            return this.authenticated;
          });
        },
        sendFlash(text, success){
          Bus.$emit('flash-message', message = {text: text, success: success});
        }
      },
      router
    });

  </script>
  </body>
</html>
