<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <style res="stylesheet">
    .event-details-container {
      font-family: Lato, Arial, Helvetica, sans-serif;
    }
  </style>
  <title>Tourney Site</title>
</head>

<body>
  <div id="app" v-cloak>
    <v-app>
      <v-app-bar app color="primary" dark dense>
        <v-toolbar-title>Tourney Site</v-toolbar-title>
        <v-spacer></v-spacer>
        <template v-if="!authenticated">
          <v-btn text href="/login">Login</v-btn>
        </template>
        <template v-else>
          <router-link to="/" v-if="username"><v-btn text>[[  username ]]</v-btn></router-link>
          <router-link to="/"><v-btn text>Home</v-btn></router-link>      
          <router-link to="/tournaments"><v-btn text>Tournaments</v-btn></router-link>
        </template>
      </v-app-bar>
      <v-content>
        <router-view></router-view>
        <flash-message />
      </v-content>
      <v-footer
        padless
        class="font-weight-medium"
      >
        <v-col
          class="text-center"
          cols="12"
        >
          Copyright <span>&#169;</span> <strong>Deeper Systems</strong>
        </v-col>
      </v-footer>
    </v-app>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <script src="/static/js/home.vue.js"></script>
  <script src="/static/js/players.vue.js"></script>
  <script src="/static/js/tournaments.vue.js"></script>
  <script src="/static/js/components/login.vue.js"></script>
  <script src="/static/js/tournament-details.vue.js"></script>

  <script src="/static/js/components/ranking-dialog.vue.js"></script>
  <script src="/static/js/components/info-tournament.vue.js"></script>
  <script src="/static/js/components/brackets-dialog.vue.js"></script>
  <script src="/static/js/components/game-match.vue.js"></script>
  <script src="/static/js/components/flash-message.vue.js"></script>

  <script>
    Vue.use(VueRouter);
    window.Bus = new Vue();
    const routes = [
      {path: '/', component: home},
      {path: '/tournaments', component: tournaments},
      {path: '/tournament/:id', component: tournamentDetails},
      {path: '/players', component: players},
    ];

    const router = new VueRouter({
      mode: "history",
      routes
    });

    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      vuetify: new Vuetify({
        icons: {
          iconfont: 'mdi',
        },
      }),
      data() {
        return {
          authenticated: false,
          username: null,
        };
      },
      created() {
        this.check_auth()
      },
      methods: {
        check_auth(){
          return axios.post("/").then(result => {
            this.authenticated = result.data.auth;
            if(!this.authenticated){
              return false
            }
            this.loadUser();
            return this.authenticated;
          });
        },
        sendFlash(text, success){
          Bus.$emit('flash-message', message = {text: text, success: success});
        },
        loadUser() {
          return axios.get("/api/logged_user").then(result => {
            this.username = result.data.username;
            return result
          });
        }
      },
      router
    });

  </script>
  </body>
</html>
